/* Container principal */
.add-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  background-color: #f7f7f7; /* Fundo branco */
  padding: 20px;
}

/* Título */
.add-product-container h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #343a40; /* Texto escuro */
  font-weight: 700;
}

/* Formulário */
.add-product-form {
  background-color: #ffffff; /* Fundo branco */
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

/* Grupo de formulário */
.form-group {
  margin-bottom: 20px;
}

/* Rótulos */
.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: white; /* Texto escuro */
}

/* Campos de entrada e texto */
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f8f9fa; /* Fundo branco */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #69b75a;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  background-color: #ffffff; /* Fundo branco */
}

/* Campos de texto */
.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

/* Botões */
button.btn {
  padding: 12px;
  background-color: #69b75a; /* Azul */
  color: #ffffff; /* Texto branco */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

button.btn:hover {
  background-color: #69b75a; /* Azul mais escuro */
  transform: translateY(-2px);
}

button.btn:active {
  background-color: #00695c; /* Azul escuro */
  transform: translateY(0);
}

/* Botão cancelar */
button.cancel-btn {
  background-color: #6c757d; /* Cinza */
  margin-left: 10px;
}

button.cancel-btn:hover {
  background-color: #5a6268; /* Cinza mais escuro */
}

button.cancel-btn:active {
  background-color: #4e555b; /* Cinza escuro */
}

.product-back-btn{
  background-color: #4e555b !important;
}

.product-add-btn{
  background-color: #295e9d !important;
}