.footer {
    background-color: #00BFA6; /* Fundo azul no modo claro */
    color: #ffffff; /* Texto branco */
    padding: 40px 20px;
    text-align: center;
    border-top: 4px solid #00BFA6; /* Borda superior azul */
    border-bottom-left-radius: 10px; /* Arredonda a borda inferior esquerda */
    border-bottom-right-radius: 10px; /* Arredonda a borda inferior direita */
}

.footer a {
    color: #00BFA6;
    text-decoration: none;
}

.footer .social-icons {
    margin-top: 20px;
}

.footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
    color: #ffffff; /* Ícones brancos */
    font-size: 1.5rem;
}

.footer .social-icons a i {
    display: inline-block;
}