.footer {
    background-color: #69b75a; /* Fundo azul no modo claro */
    color: #ffffff; /* Texto branco */
    padding: 40px 20px;
    text-align: center;
}

.footer a {
    color: #69b75a;
    text-decoration: none;
}

.footer .social-icons {
    margin-top: 20px;
}

.footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
    color: #ffffff; /* Ícones brancos */
    font-size: 1.5rem;
}

.footer .social-icons a i {
    display: inline-block;
}